/* General Styles */
body {
    background: linear-gradient(135deg, #3ce44a, #9b59b6);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:fit-content;
}

.wrap {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    min-height: 500px; /* Decreased height */
}

h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Form Styles */
.form label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="password"],
.form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
}

.form input[type="text"]:focus,
.form input[type="number"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus {
    border-color: #74ebd5;
    outline: none;
    background-color: #fff;
}

/* Radio Buttons */
.radio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.radio-group label {
    margin-right: 20px;
    font-size: 14px;
    color: #333;
}

/* Submit Button */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    text-align: center;
}

button[type="submit"]:hover {
    background: linear-gradient(to right, #57C3D3, #8EA8D5);
}

/* Links and Extra Text */
p {
    text-align: center;
    font-size: 14px;
    color: #333;
}

p a {
    color: #74ebd5;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
